@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0e27;
  font-family: 'MainFont', sans-serif;
}

@font-face {
  font-family: 'MainFont';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

text-fixing {
  font-family: 'MainFont', sans-serif;
}
